<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Крестики-Нолики</title>
    <style>
        table {
            border-collapse: collapse;
        }
        td {
            width: 50px;
            height: 50px;
            text-align: center;
            border: 1px solid black;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>Игра Крестики-Нолики</h1>
    <table>
        <tbody>
        <tr th:each="row : ${gameBoard}">
            <td th:each="cell : ${row}" th:text="${cell}"></td>
        </tr>
        </tbody>
    </table>
    <h2 th:text="${winner}"></h2>
</body>
</html>
